* {
    box-sizing: border-box;
}

.header{background: red;}
.logo1{background: blue;}
.logo2{background: blue;}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}




/* .nav{background:green;}
.image1{background:cyan;}
.otsikko1{background:yellow;}
.image2{background:pink;}
.text{background:orange;}
.otsikko2{background:violet;}
.image3{background:darkblue;}
.image4{background:brown;}
.image5{background:lightcoral;}
.footer{background:gray;} */

/* .grid-container{
    display: grid;
    grid-area: 
    'logo1 header logo2'
    'nav nav nav'
    '.image1.'
    '.otsikko1.'
    'image2 text.'
    'otsikko2 otsikko2 otsikko2'
    'image3 image4.'
    'image5 image6.'
    'footer footer footer';
    grid-column: 
} */

