* {
    box-sizing: border-box;
}

.header{background: red;}
.logo1{background: blue;}
.logo2{background: blue;}
.nav{background: red;}
.image1{background: blue;}
.otsikko1{background: red;}
.image2{background: blue;}
.text{background: red;}
.link{background: blue;}
.otsikko2{background: red;}
.image3{background: blue;}
.image4{background: red;}
.image5{background: blue;}
.image6{background: red;}
.footer{background: blue;}

.grid-container{
    display: grid;
    grid-template-areas: auto;
    background-color: green;
    text-align: center;
    margin: -8px;
}

body{
    background-color: green;
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.nav{
    margin-left: 10px;
    margin-right: 10px;
}

.image1{
    margin: 10px;
}

.otsikko1{
    margin: 10px;
    margin-bottom: 0px;
}

.tarjous-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    background-color: aquamarine;
}
.image2{
    grid-row: 1/3;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
}
.text{
    margin-left: 10px;
    margin-bottom: 5px;
}
.link{
    grid-column: 2/3;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.otsikko2{
    margin: 10px;
    margin-bottom: 0px;
}
.uutuus-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    padding-top: 0px;
}
.image3{
    text-align: right;
    padding: 5px;
}
.image4{
    text-align: left;
    padding: 5px;
}
.image5{
    text-align: right;
    padding: 5px;
}
.image6{
    text-align: left;
    padding: 5px;
}

.footer{
    padding: 10px;
}


